@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@300;400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Kalam:wght@300;400&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
 }

:root {
    --title-color: #0C1001;
    --subtitle-color: #54524E;
    --sub-subtitle-color: #1A1D0E;
    --text-color: #383B2F;
    --light-text-color: #F7FBEE;
    --title-font-family: 'Roboto Condensed', sans-serif;
    --subtitle-font-family: 'Roboto', sans-serif;
    --text-font-family: 'Roboto', sans-serif;
    --accent-font-family: 'Kalam', cursive;
    --button-text-color: #30371E;
    --icon-color: #BFDB78;
    --light-background-color: #E7F2CC;
    --dark-background-color: #383734;
    --scroll-behavior: smooth;
}

img {
    width: 100%;
    display: block;
}

.container {
    max-width: 1440px;
    margin: auto;
  }

h1 {
    color: var(--title-color);
    font-family: var(--title-font-family);
    font-size: 37px;
    font-weight: 400;
    text-align: center;
    letter-spacing: 1.428px;
    line-height: 40.8px;
}

h2 {
    color: var(--title-color);
    font-family: var(--title-font-family);
    font-size: 28px;
    font-weight: 400;
}

h3 {
    color: var(--subtitle-color);
    font-family: var(--subtitle-font-family);
    font-size: 19px;
}

h4,
h5 {
    font-family: var(--subtitle-font-family);
    font-size: 20px;
    color: var(--sub-subtitle-color);
}


p {
    font-family: var(--subtitle-font-family);
    font-size: 16px;
    color: var(--text-color);
}

.faq{
    font-family: var(--accent-font-family);
    color: var(--icon-color);
    font-size: 18px;
}

@media (min-width: 768px) {
    h2 {
        font-size: 38px;
        letter-spacing: 1.596px;
        line-height: 45.6px;
    }
}

@media (min-width: 992px) {
    h2 {
        font-size: 42px;
        letter-spacing: 1.764px;
        line-height: 50.4px;
    }
}