.header {
	background-image: linear-gradient(rgba(249, 246, 239, 0.4), rgba(249, 246, 239, 0.4)), url(../img/header/header-background-image.jpg);
	background-size: cover;
    background-position-x: 50%;
	height: 100%;
}

.header__container {
	padding: 0 24px;
}

.header__announcement {
	display: none;
}

.header__nav {
    height: 100px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 30px 0;
}

#header__logo {
    height: 30px;
    width: auto;
}

#header__phone-icon{
  width: 20px;
}

.header__icons,
.header__menu {
    display: none;
}